<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuring RoleVoter bean to use custom access roles, by default roles
        should be in the form ROLE_{XXX} -->
    <beans:bean id="roleVoter"
                class="org.springframework.security.access.vote.RoleVoter">
        <beans:property name="rolePrefix" value=""></beans:property>
    </beans:bean>

    <beans:bean id="accessDecisionManager"
                class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:constructor-arg name="decisionVoters"
                               ref="roleVoter"/>
    </beans:bean>

    <http authentication-manager-ref="auth"
          access-decision-manager-ref="accessDecisionManager">

        <intercept-url pattern="/home**" access="Admin"/>
        <intercept-url pattern="/1stfloor**" access="Admin"/>
        <intercept-url pattern="/3rdfloor**" access="Admin"/>
        <intercept-url pattern="/2ndfloor**" access="Admin"/>
        <intercept-url pattern="/light**" access="Admin"/>
        <intercept-url pattern="/humidity**" access="Admin"/>
        <intercept-url pattern="/temperature**" access="Admin"/>
        <intercept-url pattern="/noise**" access="Admin"/>
        <intercept-url pattern="/info**" access="Admin"/>


        <form-login login-page="/login" authentication-failure-url="/login?error"
                    username-parameter="userName" password-parameter="password"
                    default-target-url="/home"/>
        <logout invalidate-session="true" logout-success-url="/login?logout"/>

        <access-denied-handler error-page="/403"/>

    </http>


    <authentication-manager id="auth">
        <authentication-provider user-service-ref="userDetailsService">
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="userDetailsService"
                class="org.smart.entc.security.LoginUserDeatalis"/>


</beans:beans>
